@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --background-color: #1D1D1D;
    --font: "Nunito Sans";
    --form-color: #262529;
    --white-color: #F3F3F3;
    --font-size: "1em";
    --blue-color: #2272FF;
    --button-font: "1.4em";
    --button-weight: 600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: var(--font);
}
header {
    margin: 3.5vh 0;
}

.logo img {
    width: 13vw;
}
.wrapper {
    max-width: 95%;
    margin: 0 auto;
}
.header{
    display:flex;
    justify-content:space-between;
}

.button {   
    padding: 15px 40px;
    outline: none;
    border: 0;
    border-radius: 10px;
    font-size: var(--button-font);
    color: var(--white-color);
    font-weight: var(--button-weight);
    cursor: pointer;
    text-decoration:none;
    display:flex;
    align-items:center;
    align-content:center;
}
.button-blue{
    background-color: var(--blue-color);
}
.button-white{
    background-color: var(--white-color);
    color: var(--background-color);
}



