<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DannT</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DannT.styles.css" asp-append-version="true" />
    <link href="/css/@ViewData["css"]" rel="stylesheet" />
</head>
<body class="wrapper">
    <header class="header">
        <div class="logo">
            <img src="~/img/Logo.png" />
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="AuthApi" asp-action="Logout" class="button button-white">Log Out</a>
        } 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DannT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
