<div>
    <img src="img/Logo.png" alt="Alternate Text" />
</div>

<form id="formLogin">
    <h2>Log In</h2>

    <section>
        <div>
            <input type="email" placeholder="Email" name="Email" />
        </div>
        <div>
            <input type="password" placeholder="Password" name="Password" />
        </div>

        <div>
            <input type="checkbox" name="RememberMe" />
            <a>Forgot Password?</a>
        </div>

        <div>
            <button type="submit">Log In</button>
            <p>Or</p>
            <button type="submit">
               <img src="img/gmail.png" style="width:50px;height:50px" />
            </button>

        </div>
    </section>
    
</form>


<form id="formRegister">
    <h2>Register</h2>

    <section>
        <div>
            <input type="email" placeholder="Email" name="Email" />
        </div>
        <div>
            <input type="password" placeholder="Password" name="Password" />
        </div>

        <div>
            <button type="submit">Register</button>
            <p>Or</p>
            <button type="submit">
                <img src="img/gmail.png" style="width:50px;height:50px" />
            </button>
        </div>
    </section>

</form>


<script src="~/js/Pages/RegisterPage.js" type="module"></script>