<h1>We need vinculate your google account with a password</h1>

<form>
    <input type="password" name="Password" id="Password" />
    <button type="submit">Continue To The Site</button>
</form>

<script src="~/js/Pages/RequestPasswordPage.js" type="module"></script>