@{
    ViewData["Css"] = "CreateCss.css";
}
<section>
    <h1>Task Details</h1>
    <form>
        <div>
            <label for="Title">Title</label>
            <input type="text" placeholder="Title" name="Title" id="Title" class="input-text" />
        </div>
        <div>
            <label for="Deadline">Deadline</label>
            <input type="Date" placeholder="05/05/2005" name="Deadline" id="Deadline" class="input-text" />
        </div>

        <div>
            <label for="Description">Description</label>
            <textarea id="Description" name="Description" placeholder="Description" ></textarea>
        </div> 

        <div>
            <label for="TagId">Tag</label>
            <select id="TagId" name="TagId">
                <option value="0">Select A Tag</option>
            </select>
        </div>

        <button type="submit">Modify Task</button>
    </form>
</section>

<script src="~/js/Pages/ShowTaskPage.js" type="module"></script>